global:
  scrape_interval: 15s
  evaluation_interval: 15s

rule_files:
  - /etc/prometheus/prometheus-alerts.yaml

alerting:
  alertmanagers:
    - static_configs:
        - targets:
            - alertmanager:9093

scrape_configs:
  - job_name: greenspoon-backend
    metrics_path: /metrics
    static_configs:
      - targets:
          - host.docker.internal:3000

  - job_name: prometheus
    static_configs:
      - targets:
          - localhost:9090
