[sources.greenspoon_logs]
type = "file"
include = ["/var/log/greenspoon/backend.log"]
read_from = "end"

[transforms.parse_json]
type = "remap"
inputs = ["greenspoon_logs"]
source = '''
. = parse_json!(string!(.message))
.service = "greenspoon-backend"
.source = "nodejs"
'''

[sinks.datadog_logs]
type = "datadog_logs"
inputs = ["parse_json"]
default_api_key = "${DATADOG_API_KEY}"
site = "datadoghq.com"
compression = "gzip"
